* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    width: 1200px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

header {
    height: 70px;
    background-color: orange;
    box-shadow: 0 0 5px #666;

}


/*Menubar*/

a {
    position: relative;
    bottom: 10px;
    padding: 5px;
}


.logo {
    height: 30px;
    vertical-align: middle;
    position: relative;
    left: 45%;
    top: 20px;
}

/*Box*/

.box {
    width: 300px;
    position: relative;
    display: inline;
}

.box .discount {
    width: 40px;
    height: 35px;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    right: 85%;
    text-align: center;
}

.bg-green {
    background-color: green;
    
}

.bg-red {
    background-color: red;
}

#image {
    height: 500px;
    padding: 20px;
    position: relative;
    top: 10px;
    right: 20px;
}

.heart {
    position: absolute;
    bottom: 440px;
    right: 60px;
    font-size: 25px;
    color: red;
    display: none;
}

.box:hover .heart {
    display: block;
}